body{
  line-height: 25px;
}
.search-bar {
  font-size: 30px;
  color: darkslateblue;
  font-style: italic;
  border-radius: 10px;
  border: dotted 2px palevioletred;
}
.search-bar::placeholder {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div {
  margin: 10px auto;
  background-color: rgba(211, 211, 211, 0.562);
  width: 500px;
  padding: 15px;
  border-radius: 30px;
  color: #660099;
}
#css { 
  width: 850px;
}


.links img {
  height: 100px;
}
.links a {
  font-size: 18px;
}

span {
  color:white;
background-color: rgb(70, 92, 92);
} 
.smol {
  font-size: 10px;
  background: black;
}
div > span {
  font-family: Arial, Helvetica, sans-serif;

}
li {color: darkblue;}
#list > li {
  color:hotpink
}
.largecode{
  font-size: 20px;
}

* {
  color:#336699
}
h3 {
  color: #7CA2BF;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
img[alt="Cat"] {
  border: 1px solid black;
  width: 50%;
  margin:10px;
}
td, th {
  border: #336699 solid 1px;
}
.symbol {
  margin-left: 5px;
}
a:link {
  text-decoration: dashed;
}
a:hover {
  background-color:blue;
}
a:visited {
  color:hotpink;
}
a:active {
  background-color: white;
}
p {
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(58, 33, 45);

}


/* W3C */
.use-content-box {
  box-sizing: content-box;
}
/* IE */
.use-border-box {
  box-sizing: border-box;
}

/* box sizing */
.fixed-size { 
    width: 200px;
}

.elastic-size { 
  font-size: 200%;
    width: 12.5em; /* 200px/16px */
}

.fluid-size { 
    width: 70%; 
}

.threshold-size { 
    min-width: 500px;
    max-width: 900px;
}
/*////// OVERFLOW ////// */

.hide-content {
    overflow: hidden;
}

.scroll-content {
    overflow: scroll;
}

.vis-content {
    overflow: visible;
}

.overflow {
  width: 250px;
    height: 200px;
    background: rgb(202, 163, 91);
    margin: 10px;
    padding: 20px;
}
.overflow p {    
  background: rgba(42, 43, 151, 0.5);    
}
/* QUOTE */
.quote::before {
  content: "\201C"
}
.quote::after {
  content: "\201D";
}
span {
  background: none;
}
span[class^=quote] {
  background: none;
  color: darkblue;
}
.inrowblock {
  display: inline-block;
}
/*////// END OF CSS //////*/