body {
  background-color: LightSteelBlue;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 25px;
}
header {
  background: linear-gradient(#2980B9,#900C3F);
  text-align: center;
  padding: 20px 0 20px 0;

}
/* Headers */
h1, h2 {
  font-family: 'Signika Negative', sans-serif;
}
/* Image for the header */
header img {
  width: 400px;
  border-radius: 10px;
  border: white solid 10px;
}

header h1 {
  color: white;
  font-size: 50px;
}

main{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #2980B9;
}

main img {
  max-width: 100%;
}

h2 {
  font-size: 25px;
  color:#900C3F;
  margin: 40px 0 10px;
}

a {
  color: white
}
a:hover {
  background-color: #2980B9;
  color: white;
}
footer {
  background-color: LightSteelBlue;
  text-align: center;
  padding: 10px;
}

footer p {
  margin: 0;
}

footer a {
  color: #900C3F;
}

footer a:hover {
  opacity: .5 ;
  background-color:  transparent;

}
p.caption {
  color: grey;
  font-size:  12px;
  font-style: italic;
  margin-top: 0;
}