body {
  background: linear-gradient(#2980B9,#900C3F);
  margin: 0;
}
header {
  background-color: LightSteelBlue;
  text-align: center;
  padding: 20px 0 20px 0;
  color: #2980B9;
}
#pic1 {
 width: 400px;
 border-radius: 10px;
 border: #2980B9 solid 100px;
}